/* NavBar area */

.heading-logo {
    height: 40px;
}

.endItems>li>a>img {
    margin-left: 5px;
    height: 25px;
    width: 25px;
}

.nav-item-text {
    position: relative;
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.nav-item-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 1s;
}

.nav-item-text:hover::after {

    width: 100%;
}

.navbar-toggler>img {
    height: 30px;
    width: 30px;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar {
    background-color: white !important;
}

@media (max-width: 576px) {
    .heading-logo {
        height: 30px;
    }

    .endItems>img {
        margin-left: 10px;
        margin-top: 10px;
        height: 30px;
        width: 30px;
    }



}



.headSection {
    background: linear-gradient(to right, #eaecec, #f1f0f0a9);
    height: 100vh;
    padding-right: 10px;
    padding-right: 10px;
}

.headSection>.container>.row>div>img {
    height: 350px;
}

.heading-text { margin: 0; 
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #000;
   
}

.heading-subtext {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #000;
    font-weight: 400;
 
}

.heading-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 1s;
}

@media (max-width: 768px) {
    .heading-text {
        margin-top: 38px;
    }
    .headSection>.container>.row>div>img {
        
        height: 320px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .headSection .col-lg-5.col-md-5.col-sm-12 {
        text-align: start;
    }

}

